<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>消費税込み割引元値計算</title>
	</head>
	
	<body>
	
	<h1>求めたい金額と何割引きかを入力してください</h1>
	
	<form action='/calc' method='POST'>
		<input name='x' type='text' placeholder='金額：10000000'>
        <input name='y' type='text' placeholder='割引率：20'>
		<input type='submit' value='計算'>
	</form>
     //計算結果--------------------
	{%if x4 and y%}
    <p>元値＝　{{x}}　円</p>
    <p>割引率＝　{{y}}　％</p>
    <p>元値＋消費税＝　{{x5}}　円</p>
    <p>値引き後＝　{{x4}}　円</p>
	<p>値引き後＋消費税＝　{{x6}}　円</p>
    <p>値引き金額＝　{{x7}}　円</p>   
	{%else%}
	<p>{{error}}</p>
	{%endif%}
      //--------------------------
	</body>
	
</html>